<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" style="height : 100%">

  <head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
         <link rel="stylesheet" href="style.css"> 
  </head>

  <body style="background-repeat: no-repeat; background-size:100% 100%; background-image: linear-gradient(#5f9fed,#d5e3f5)">
   <div class="container" style="text-align: center;">
		<h1 style="color:#033652">Welcome to Student Academy</h1><br><br>
		<div style="background: #a4cceb; width: 50%; height: 50%; margin : auto;" class="rounded border border-5 ">
		<!-- <div style="background: #1e4187; width: 50%; margin : 0 auto; padding : 5px; color: white"><h3>Sign in as</h3></div><br> --><br>
		<h4><a href="studentlogin.html" style="color: #073270;">Student</a></h4><br><br>
		<hr><br><br>
		<h4><a href="teacherlogin.html" style="color: #073270;">Teacher</a></h4><br>
		</div>
   </div>
  
  </body>

</html>